:root {
  --onyx-color: #403F4C;
  --raisinBlack-color: #2C2B3C;
  --gunmetal-color: #1B2432;
  --richBlack-color: #121420;
  --indianRed-color: #B76D68;
  --green-color: #5F8670;
  --textwhite-color: #fff;
  --background-g: linear-gradient(45deg, var(--onyx-color) 0%, var(--indianRed-color));
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.spinning-icon {
  animation: spin 2s linear infinite;
}

.not-show {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}