:root {
  --onyx-color: #403F4C;
  --raisinBlack-color: #2C2B3C;
  --gunmetal-color: #1B2432;
  --richBlack-color: #121420;
  --indianRed-color: #B76D68;
  --textwhite-color: #fff;
}

body {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}