

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    span.menu {
        display: none;
    }
}

.navlogo h1 {
    padding-left: 1rem;  
}

.navlogo h1 span *{
    margin: 0 0 0 1rem;
    transform: translateY(10%);
}

.navlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
}

.navlist a {
    transform: translateY(-100%);
    list-style:none;
    text-align: left;
    width: 100%;
    transition: all 0.15s ease;
    height: 3rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    box-sizing: border-box;
}

.navlist a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.805);
    border: 0.25rem solid transparent;
    font-weight: 700;
    font-size: 1.25rem;
    width: 100%;
}

.navlist a:hover {
    /*background-color: rgba(100, 100, 100, 0.75);*/
    
    border: 0.25rem solid transparent;
    background-color: rgba(100, 100, 100, 0.75);
    border-radius: .5rem;
    cursor: pointer;
    box-sizing: border-box;
}

.navlist a.active    {
    /*background-color: rgba(100, 100, 100, 0.75);*/
    background-color: var(--indianRed-color);
    border-radius: .5rem;
    cursor: pointer;
    padding-left: 1.25rem;
}

.navlist {
    flex-grow: 1;
    margin: 0;
}

.signOut {
    width: 100%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(10, 10, 10, 0.3);
    border-radius: 0.5rem;
    justify-content: space-between;
    align-items: center;
}   

.signOut span {
    display: flex;
    align-items: center;
}

.signOut span span {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.signOut button {
    height: 2rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent   ;
    color: white;
    padding: 0 0.5rem 0 0.5rem;
    transition: all 0.1s ease;
    cursor: pointer;
}

.signOut button:hover {
    background-color: rgba(100, 100, 100, 0.75);
}

.signOut button span {
    font-size: 1.25rem;
}

div.nav-head {
    display: none;
}

div.black {
    display: none;
}

@media screen and (max-width: 768px) {
    div.nav-head {
        display: block;
        margin: 0.25rem 0;
        span.menu {
            position: absolute;
            font-size: 2.5rem;
            left: 1rem;
            cursor: pointer;
        }
        div.navlogo {
            h1 {
                margin: 0;
                margin-bottom: 0.5rem;
            }
        }
    }
    nav {
        div.navlist {
            a {
                font-size: 1.5rem;
            }
        }
    }
    nav.open {
        transform: translateX(0);
        z-index: 10;
    }
    div.black.open {
        display: block;
        position: absolute;
        z-index: 5;
        background-color: #00000052;
        height: 100vh;
        width: 100vw;
        animation:fadeIn 0.25s forwards;
        padding-left: 12.5rem;
        div.touchtoclose {
            height: 100%;
            width: 100%;
            color: transparent;
        }
    }
    div.black.close {
        display: block;
        position: absolute;
        z-index: 5;
        background-color: #00000052;
        height: 100vh;
        width: 100vw;
        color: transparent;
        animation:fadeOut 0.25s forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}