.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    
    a {
        color: var(--indianRed-color);
        font-weight: bold;
        text-decoration: none;
    }
    h1, h3 {
        text-align: center;
    }
    div {
        width: 50%;
    }
}

@media screen and (max-width: 1080px) {
    div.home > div {
        width: 90%;
    }
}