main {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--background-g); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textwhite-color);
    padding: 1rem;
    box-sizing: border-box;
}

nav {
    width: 12.5rem;
    height:100%;   
    transition: all 0.25s ease; 
}

main > div.main {
    height: 100%;
    flex-grow: 1;
    background-color: white;
    color: black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    transition: all 0.1s ease; 
}

@media screen and (max-width: 768px) {
    main {
        padding: 0.5rem;
        flex-direction: column;
        div.main {
            width: 100%;
            height: auto;
        }
    }
    nav {
        position: absolute;
        height: 100%;
        top: 0rem;
        left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: var(--background-g);
        transform: translateX(-150%);
        padding-left: 0.5rem;
        div.navlogo {
            display: none;
        }
    }
}